include README.md CHANGELOG.md LICENSE LICENSE-COMMERCIAL.md MANIFEST.in
include pyproject.toml

recursive-include siamang *.tpl *.jsx *.js py.typed
recursive-include docs *.md
recursive-include examples *.py

global-exclude *.map
global-exclude *.ts
global-exclude *.tsx
global-exclude __pycache__
global-exclude *.py[cod]
global-exclude .DS_Store
